# -*- coding: utf-8 -*-
# vim: ft=yaml
---
# See the full Alloy configuration documentation at
# https://grafana.com/docs/alloy/latest/reference/configuration/
alloy:
  # The contents of this 'config' section are used to generate the
  # /etc/alloy/config.alloy file.
  config:
    logging:
      level: "info"
      format: "logfmt"

    # Defines a prometheus.remote_write component
    # https://grafana.com/docs/alloy/latest/reference/components/prometheus.remote_write/
    remote_writes:
      prom_cloud:
        url: "https://prometheus-prod-13-prod-us-east-0.grafana.net/api/prom/push"
        headers:
          # Example for Grafana Cloud Prometheus.
          # Store the key securely in pillar or a secrets backend.
          Authorization: "Bearer YOUR_API_KEY"

    # Defines prometheus.exporter.unix component
    # https://grafana.com/docs/alloy/latest/reference/components/prometheus.exporter.unix/
    exporters:
      node:
        type: "unix"
        settings:
          include_exporter_metrics: true
          disable_collectors:
            - "mdadm"

    # Defines prometheus.scrape components
    # https://grafana.com/docs/alloy/latest/reference/components/prometheus.scrape/
    scrapes:
      alloy_self:
        targets:
          - __address__: "127.0.0.1:12345"
            job: "alloy"
        forward_to:
          - prometheus.remote_write.prom_cloud.receiver
      node_exporter:
        # This target refers to the exporter defined above
        targets: prometheus.exporter.unix.node.targets
        forward_to:
          - prometheus.remote_write.prom_cloud.receiver

# The settings below are not related to the Alloy configuration file,
# but to the formula's behavior.

# Example for FreeBSD binary install, if not using packages
# dl:
#   version_prefix: v1.0.0
#   checksum: "sha256:..."

# The 'lookup' section is for advanced formula development and can
# generally be ignored.
# lookup:
#   master: template-master