########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes will be overwritten.
########################################################################
{%- set alloy = alloy | fromjson %}
{%- set cfg = alloy.get('config', {}) %}

{%- if cfg.logging is defined %}
logging {
  {%- if cfg.logging.level is defined %}
  level = "{{ cfg.logging.level }}"
  {%- endif %}
  {%- if cfg.logging.format is defined %}
  format = "{{ cfg.logging.format }}"
  {%- endif %}
}
{%- endif %}

{%- for name, exporter in (cfg.exporters | default({})).items() %}
prometheus.exporter.{{ exporter.type }} "{{ name }}" {
  {%- for key, value in exporter.settings.items() %}
  {{ key }} = {{ value | tojson }}
  {%- endfor %}
}
{%- endfor %}

{%- for name, scrape in (cfg.scrapes | default({})).items() %}
prometheus.scrape "{{ name }}" {
  targets = {{ scrape.targets | tojson }}
  forward_to = {{ scrape.forward_to | tojson }}
}
{%- endfor %}

{%- for name, remote_write in (cfg.remote_writes | default({})).items() %}
prometheus.remote_write "{{ name }}" {
  endpoint {
    url = "{{ remote_write.url }}"
    {%- if remote_write.headers is defined %}
    headers = {
      {%- for key, value in remote_write.headers.items() %}
      "{{ key }}" = "{{ value }}",
      {%- endfor %}
    }
    {%- endif %}
  }
}
{%- endfor %}
