---
name: Test & release

'on':
  - pull_request
  - push

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: >-
    ${{ github.ref != format('refs/heads/{0}',
    github.event.repository.default_branch) }}

jobs:
  should-run:
    name: Prep / Should run
    runs-on: ubuntu-latest
    timeout-minutes: 5
    outputs:
      should-run: ${{ steps.action.outputs.should-run }}
    steps:
      - name: Install GitHub CLI
        run: |
          sudo apt-get update
          sudo apt-get install -y gh
      - id: action
        uses: techneg-it/should-workflow-run@v1.0.1

  pre-commit:
    name: Lint / `pre-commit`
    needs: should-run
    if: fromJSON(needs.should-run.outputs.should-run)
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Harden Runner
        run: |
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0
          fetch-tags: true
          filter: tree:0
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

  test:
    name: Test / Kitchen
    needs:
      - pre-commit
      - should-run
    if: fromJSON(needs.should-run.outputs.should-run)
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        platform:
          - ubuntu-24.04
          - ubuntu-22.04
          - debian-12
          - rockylinux-9
          - opensuse-leap-15
    steps:
      - name: Debug on runner (When re-run with "Enable debug logging" checked)
        if: runner.debug
        uses: mxschmitt/action-tmate@v3.23
        with:
          detached: true
      - uses: actions/checkout@v5.0.0
      - uses: ruby/setup-ruby@v1.267.0
        with:
          bundler-cache: true
          ruby-version: '3.1'
      - run: bin/kitchen verify ${{ matrix.platform }}

  results:
    name: Release / Collect results
    permissions:
      contents: write
      issues: write
      pull-requests: write
      checks: read
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Harden Runner
        run: |
          # Needed due to bug actions/checkout#2031
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - uses: actions/checkout@v5.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - name: Install semantic-release
        run: |
          npm install --no-audit --no-fund semantic-release@latest --no-save
      - name: Run `semantic-release`
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MAINTAINER_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release --dry-run
      - run: echo "::notice ::Workflow success!"